

.no-overflow {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.no-overflow:hover {
  text-overflow: inherit;
  overflow: visible;
}

.hoveredItem {
  background-color: rgba(0, 0, 0, .1);
}